<body class = "body-signup">

  <div class = "header-signup">
    <div class = "appname">
     Stocks Up
    </div>
  </div>

  <div class = "mainbody-signup">

    <div class = 'page-title'>  
      Log in
    </div> 

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class = "input-fields-form">
        <div class="field">
          <div class = "form-label">
              Email:
          </div>
          <div class = "input-field-container">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:'Email...', class: 'input-fields'  %>
          </div>
        </div>

        <div class="field">
            <div class = "form-label">
              Password:
            </div>
            <div class = "input-field-container">
              <%= f.password_field :password, autocomplete: "current-password", placeholder:'Password...' ,class: 'input-fields'  %>
            </div>
        </div>

        <div class = 'links-checkbox'>
          <% if devise_mapping.rememberable? %>
            <div class="field-checkbox">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
            <div>
              <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                <%= link_to "Forgot your password?", new_password_path(resource_name) %>
              <% end %>
            </div>
          <% end %> 
        </div>
      </div>

      <div class="submit-button-signup">
        <%= f.submit "Log in", class: 'submit-button' %>
      </div>
      
    <% end %>

    <div class = "login-link-signup">
      Don't have an Account yet?
      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "Sign up", new_registration_path(resource_name) %>
      <% end %>
    </div>
  </div>

</div>
